/*-- scss:defaults --*/

// alignment of title slide
$presentation-title-slide-text-align: left;

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #fdfcfa;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #45684A !default;
$presentation-h1-font-size: 40px;
$presentation-h2-font-size: 32px;
$presentation-h3-font-size: 26px;
$presentation-h4-font-size: 20px;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

#title-slide {
  .title {
    font-size: 50px !important;
    color: #6a4f4d !important;
  }

  .subtitle {
    font-size: 3em;
  }

  .quarto-title-author {
    font-size: 40px !important;
    color: #6C7567;
  }
}

.date {
  font-size: 25px;
  text-align: left;
  color: #C70039 !important;
}

.footer {
  font-size: 0.30em !important;
  color: #6a4f4d !important;
}

.reveal section h1 {
    font-size : 40px !important;
    color: #45684A !important;
}

.reveal section h2 {
  font-size: 32px !important;
  color: #684563;
}

.reveal section h3 {
  font-size: 26px !important;
  color: #45684A;
}

.reveal section h4 {
  font-size: 20px !important;
  color: #684563;
}

.reveal .slides {
    font-size: 28px;
    color: #6a4f4d !important;
}

.reveal .slide-number {
    font-size: 10px !important;
    color: #6a4f4d !important;
}

.reveal section h6 {
    font-size: 25px !important;
    font-weight: 100;
    color: #6a4f4d !important;
}